<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="static/favicon.png">
    <title>Dump</title>
</head>
<body>
    <h1><u>uprocket</u></h1>
    <form action="/" method="POST" enctype="multipart/form-data">
         <input type="file" name="file" />
         <input type="submit"/>
    </form>
    {% for result in results %}
        {% if result.1 == "mp4" or result.1 == "webm" or result.1 == "mov" %}
            <video controls>
                <source src="{{result.0}}">
            </video><br>
        {% elif result.1 == "png" or result.1 == "jpg" or result.1 == "gif" or result.1 == "jpeg" %}
            <img src="{{result.0}}"><br>
        {% elif result.1 == "mp3" %}
            <audio controls>
                <source src="{{result.0}}">
            </audio><br>
        {% else %}
            <a href="{{result.0}}">{{result.0}}</a><br>
        {% endif %}
    {% endfor %}
</body>
</html>