<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>Dump</title>
</head>
<body>
    <h1><u>uprocket</u></h1>
    <form action="/" method="POST" enctype="multipart/form-data">
         <input type="file" name="file" />
         <input type="submit"/>
    </form>
    {% if data | length == 0 %}
        <a>Esta pasta está vazia</a><br>
    {% endif %}
    {% for file in data %}
        {% if file.data_type == "video" %}
            <video controls>
                <source src="{{file.url}}">
            </video><br>
        {% elif file.data_type == "image" %}
            <img src="{{file.url}}"><br>
        {% elif file.data_type == "audio" %}
            <audio controls>
                <source src="{{file.url}}">
            </audio><br>
        {% elif file.data_type == "dir" %}
            <a href="{{file.url}}">{{file.name}}/</a><br>
        {% else %}
            <a href="{{file.url}}">{{file.name}}</a><br>
        {% endif %}
    {% endfor %}
</body>
</html>